
input[type=text] {
    border-radius: 4px;
    margin: 2px 2px 2px 2px;
}

.col1 {
    width: 50px;
}

.button {
    width: 40%;
    height: 20%;
    background: #6b8bad;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px black;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    background: -moz-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b8bad), color-stop(48%, #39577f), color-stop(52%, #254b72), color-stop(100%, #102d4c));
    background: -webkit-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: -o-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: -ms-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: linear-gradient(to bottom, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b8bad', endColorstr='#102d4c', GradientType=0);
    align-items: center;
}

.button:hover {
    background: #7290b0;
    background: -moz-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7290b0), color-stop(48%, #3d5e89), color-stop(52%, #29537d), color-stop(100%, #133559));
    background: -webkit-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: -o-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: -ms-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: linear-gradient(to bottom, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7290b0', endColorstr='#133559', GradientType=0);
}

.attention {
    width: 40%;
    height: 20%;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px black;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    background: radial-gradient(#ad7370, #890706);
    align-items: center;
    margin-left: 10%;
}


.left_header {
    top: 0;
    left: 0%;
}

.grade {
    font-size: 0.82em;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    /*white-space: pre-wrap;*/
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    float: left;
    display: inline-table;
}


.title {
    text-align: center;
    border: solid black 1px;
    /*border-bottom: none;*/
}


.date_title{
    border-bottom: solid black 1px;
    text-align: center;
}


.fio_student {
    border: solid black 1px;
    height: 30px;
}



.colloquium_theme {
    background-color: cornflowerblue;
}

.exam_theme {
    background-color: burlywood;
}

input .edit_grade {
    background-color: #8c0000;
}


.inp_cell {
    width: 60px;
}

.tool{
    cursor: pointer;
}

.space{
    border-left: solid blue 1px;
    margin: 0 8px 0 8px;
}

.tool:hover{
    color: blue;
}

.fail{
    color: #8c0000;
}

.grade:hover{
    background-color: greenyellow;
}

#dateLast{
    display: none;
}

div .hidden{
    display: none;
}

.type_lesson{
    cursor: pointer;
}

.add_grade{
    cursor: pointer;
}

.result_box {
    white-space: nowrap;  /* чтобы картинки стояли в одну линию, не переходя на другую строку */
    word-wrap: normal;
    overflow-x: auto;
    width: 70%;
    /*overflow: hidden;*/
    left:260px;
    position: absolute;
}

.date_col {
    display: inline-table;
    border: solid black 1px;
    width: 80px;
    /*margin: 0 10px 0 10px;*/
}

.fio {
    border-bottom: solid black 1px;
    float: left;
    width: auto;
}

.box {
    width: 95%
}
.container{
    white-space: nowrap;  /* чтобы картинки стояли в одну линию, не переходя на другую строку */
    word-wrap: normal;
    float: left;
    width: auto;
    overflow: visible;
}

.result{
    position: absolute;
    left: 80%;
}

.statistic{
    position: absolute;
    left:810px;
    border: solid black 1px;
}
.statist {
    font-size: 0.82em;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    width: 80px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    /*white-space: pre-wrap;*/
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
}

.triangle-topright {
    position: relative;
    width: 0;
    left: 70px;
    height: 0;
    top:0;
    border-top: 10px solid #DAA520;
    border-left: 10px solid transparent;
    float: left;
    display: inline-table;

}
