input[type=text] {
    border-radius: 4px;
    margin: 2px 2px 2px 2px;
}

.button {
    width: 40%;
    height: 20%;
    background: #6b8bad;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px black;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    background: -moz-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b8bad), color-stop(48%, #39577f), color-stop(52%, #254b72), color-stop(100%, #102d4c));
    background: -webkit-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: -o-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: -ms-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    background: linear-gradient(to bottom, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b8bad', endColorstr='#102d4c', GradientType=0);
    align-items: center;
}

.button:hover {
    background: #7290b0;
    background: -moz-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7290b0), color-stop(48%, #3d5e89), color-stop(52%, #29537d), color-stop(100%, #133559));
    background: -webkit-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: -o-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: -ms-linear-gradient(top, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    background: linear-gradient(to bottom, #7290b0 0%, #3d5e89 48%, #29537d 52%, #133559 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7290b0', endColorstr='#133559', GradientType=0);
}

.attention {
    width: 85px;
    height: 20%;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px #000000;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    background: radial-gradient(#ad7370, #890706);
    align-items: center;
    margin-left: 20px;
}


.left_header {
    top: 0;
    left: 0;
}

.grade {
    font-size: 0.82em;
    line-height: 0.98em;
    border-bottom: solid #000000 1px;
    border-left: solid #000000 1px;
    border-right: solid #000000 1px;
    width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    /*white-space: pre-wrap;*/
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    float: left;
    /*display: inline-table;*/
    position: relative;
}

.avg, .ans {
    border-bottom: solid #000000 1px;
    width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    /*white-space: pre-wrap;*/
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    float: left;
    /*display: inline-table;*/
    position: relative;
}


.title {
    font-weight: 600;
    text-align: center;
    border: solid #000000 1px;
}


.date_title{
    font-weight: 600;
    border: solid #000000 1px;
    text-align: center;
    width: 80px;
}
.info_title{
    font-weight: 600;
    border: solid #000000 1px;
    text-align: center;
    width: 60px;
}


.fio_student {
    border: solid #000000 1px;
    border-top: none;
    height: 30px;
    width: 265px;
    overflow: hidden;
}



.colloquium_theme {
    background-color: #d7e8ed;
}

.exam_theme {
    background-color: #ded09f;
}

input .edit_grade {
    background-color: #8c0000;
}


.inp_cell {
    width: 60px;
}

.tool{
    cursor: pointer;
}

.space{
    border-left: solid #807f80 1px;
    margin: 0 8px 0 8px;
}

.tool:hover{
    color: #0000ff;
}

.fail{
    color: #8c0000;
}

#dateLast{
    display: none;
}

div .hidden{
    display: none;
}

.type_lesson{
    cursor: pointer;
}

.add_grade{
    cursor: pointer;
}

.result_box, .result_box_statistic {
    white-space: nowrap;  /* чтобы картинки стояли в одну линию, не переходя на другую строку */
    word-wrap: normal;
    overflow-x: auto;
    /*overflow: hidden;*/
    left:280px;
    position: absolute;
    box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.2);
}
.result_box{
    border: 1px solid #ccc;
    width: 80%;
}
.result_box_statistic{
    width: 60%;
}

.date_col {
    display: inline-table;
    width: 80px;
}
.date_col_stat {
    display: inline-table;
    width: 60px;
    border:none;
}

.fio {
    float: left;
    width: auto;
}

.box {
    width: 95%
}
.container{
    white-space: nowrap;  /* чтобы картинки стояли в одну линию, не переходя на другую строку */
    word-wrap: normal;
    float: left;
    width: auto;
    overflow: visible;
}

.result{
    position: absolute;
    left: 80%;
}

.statistic {
    width: 120px;
    left: calc(65% + 260px);
    position: absolute;
    border: none;
}

.average, .answer {
    border: solid #000000 1px;
    border-top: none;
    width: 60px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
    display: inline-table;
}

.triangle-topright {
    position: absolute;
    width: 0;
    left: 70px;
    height: 0;
    bottom:0;
    border-bottom: 10px solid #000000;
    border-left: 10px solid transparent;
    float: left;
    display: inline-table;

}

#create_lesson{
    margin-bottom: 30px;
}

.hide {
    display: none;
}

.illumination{
    box-shadow:  0 0 0.4em #000000;
}

.popup {
    width:auto;
    position:absolute;
}


.popup-content {
    width:150px;
    height: auto;
    padding:5px;
    color: #000000;
    background-color: #c1c5c5;
    border-radius:5px;
    box-shadow: 0 0 10px #000;
    position: relative;
    z-index: 10;
}

.loading{
    width: 30px;
    height: 30px;
    margin-left: 60px;
}

.header{
    text-align: center;
}
.fail{
    color: #ff0000;
    font-weight: bolder;
}

.fail_grade{
    border: solid #ff0000 1px;
}
.result_div{
    color: #000;
    background-color: #d3d3d3;
    font-size: 1.4em;
}