AuthType basic
AuthName "STUDENT login and password"
AuthBasicProvider ldap
AuthLDAPURL ldap://172.20.0.71:3268/dc=bsmu,dc=by?sAMAccountName?sub?(objectClass=*)
AuthLDAPBindDN BSMU\\webapps
AuthLDAPBindPassword "!QAZ2wsx"
require group CN=Students,OU=Student,DC=bsmu,DC=by
Require valid-user
Order allow,deny
Satisfy any

AddDefaultCharset windows-1251