HTML {font-family: Arial; font-size:15px;}

HR { height:1px; border-width:0; color:#c4c4c4; background-color:#c4c4c4; }

H3 {font-size:14px;}

P {line-height:19px}

A { color:#004c99; font-family: Verdana; font-size:13px;}
A:visited {color:#003399;}
A:hover {color:#00264c; text-decoration:none;}
A:focus{outline:none; }

.Header {margin-top:40px;}
.DialogP {margin-top:40px;}

.DialogFakFak {color:#004c99; font-size:14px;}
.DialogFakFak .shortText {text-decoration:underline;}
.DialogFakFak:hover .shortText {text-decoration:none;}
.DialogFakFak {cursor:pointer; float:left; position:relative; border:1px solid #c0c0c0; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }
.DialogFakFak .CO {position:absolute; color:#fff; text-align: center; background-color:#c10000;}
.DialogFakFak .fullTextClose { float:right; display:none; color:#fff; text-align: center; background-color:#c10000;}

.Not { color:#000; font-size:18px; }

.titleO { color:#000;}
.Oc { float:left; border:1px solid #c0c0c0; background-color:#e1e1e1; opacity: 0.5; border: solid transparent 3px;}
.Oc .DataO {padding-top:2px; color:#fff; text-align: center; background-color:#707070;  }
.Oc .Otmetka { color:#000; text-align:center; word-wrap: break-word; font-weight:bold;}
.Koll .DataO {background-color:#130076;}
.Exm .DataO {background-color:#c10000;}
.clr {clear:both; height:30px;}

.content_grade{background-color: #ffffff; padding: 15px; padding-left:5px; cursor: default;}
.content_grade, .fullText{display: none;}

.small-text{font-size: 0.83em; font-weight:bold;}


.Exit {position:absolute; top:40px; right:40px; background-color:#fff; border:1px solid #c0c0c0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.Exit .Kvadrat {float:left; width:13px; height:13px; margin-right:5px; display:block;}
.Exit .OO {background-color:#4e4e4e;}
.Exit .OK {background-color:#130076;}
.Exit .OE {background-color:#c10000;}
.C {clear:both; height:3px;}

/*Никита*/
.available_grade{opacity: 1; cursor: pointer;}
.selected{border: solid #008000 3px;}
.sel_tool{float: left; margin: 2px 10px 2px 0; }
.replaceAbs{position: absolute; right: 10px; padding: 4px; border: solid #ccc 1px; border-radius: 5px; width: 120px; text-align: center; color: #000;}
.replaceAbs:hover{box-shadow: 0 0 5px rgba(0,0,0,0.7);}
span.tool, b.tool{ padding: 1px 4px 1px 4px; border: solid 1px; border-color: transparent;  border-radius: 3px; cursor: pointer;}
.tool:hover{ color: #0000ff; border-color: #cccccc;}
.space {margin-right: 15px;}
input[type=text] { border-radius: 3px; margin: 2px 2px 2px 2px; border:solid #c5c5c5 1px;}
input[type=text]:hover { border-radius: 3px; margin: 2px 2px 2px 2px; border:solid #c5c5c5 1px; text-shadow: 0 1px 2px #c5c5c5;}
.inp_cell{width: 60px;}
.inp_cell #inp_0 {margin-left: 50%;}
.marg-line{  margin-top: 10px; margin-bottom: 10px;}
.button{  margin-right: 0.4em;}
.button, .attention { float: right; padding: .4em 1em; display: inline-block; position: relative; line-height: normal; cursor: pointer; vertical-align: middle; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; overflow: visible; font-family: Arial,Helvetica,sans-serif; font-size: 1em; text-decoration: none; color: #454545;  background-color: #f6f6f6; border:solid #c5c5c5 1px; border-radius: 3px;}
.button:hover, .attention:hover { float: right; color: #2b2b2b; background-color: #ededed; border: solid #cccccc 1px; border-radius: 3px;}

/*Никита*/


@media only screen and (min-width: 700px){
    .DialogFakFak {margin:10px; min-height:70px; width:180px; padding:8px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }
    .DialogFakFak .fullText {font-size:16px;}
    .DialogFakFak .CO {right:-7px; top:-7px; width:22px; height:16px; padding-top:3px; font-size:9px;  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
    .Exit {font-size:10px; padding:10px; width:180px;}
    .titleO {font-size:18px; }
    .Oc {margin:7px; height:65px; width:70px;}
    .Oc .DataO {height:16px; font-size:10px; }
    .Oc .Otmetka { padding:8px;}
    .Koll .Otmetka {font-size:18px;}
    .Exm .Otmetka {font-size:18px;}
    .DialogFakFak .fullTextClose {width:22px; height:16px; padding-top:3px; font-size:9px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
    H2 {font-size:15px;}


}

@media only screen and (min-width: 401px) and (max-width: 699px) {
    .DialogFakFak {margin:7px; min-height:60px; width:130px; padding:7px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; font-size:11px;}
    .DialogFakFak .fullText {font-size:11px; line-height:0;}
    .DialogFakFak .shortText{font-size:11px;  line-height:0;}
    .DialogFakFak .CO {right:-6px; top:-6px; width:14px; height:12px; padding-top:2px; font-size:8px;  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
    .Exit {font-size:8px; padding:4px; width:135px;}
    .titleO {font-size:17px; }
    .Oc {margin:4px; height:45px; width:47px;}
    .Oc .DataO {height:12px; font-size:8px; }
    .Oc .Otmetka { padding:5px;}
    .Koll .Otmetka {font-size:14px;}
    .Exm .Otmetka {font-size:14px;}
    .DialogFakFak .fullTextClose {width:16px; height:13px; padding-top:2px; font-size:8px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
    H2 {font-size:14px;}
    p {font-size: 14px;}

}

@media only screen and (min-width: 10px) and (max-width: 400px) {
    .DialogFakFak {margin:5px; min-height:60px; width:130px; padding:7px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; font-size:11px;}
    .DialogFakFak .fullText {font-size:11px; line-height:0;}
    .DialogFakFak .shortText{font-size:11px;  line-height:0;}
    .DialogFakFak .CO {right:-6px; top:-6px; width:14px; height:12px; padding-top:2px; font-size:8px;  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
    .Exit {font-size:8px; padding:4px; width:135px;}
    .titleO {font-size:15px; }
    .Oc {margin:3px; height:45px; width:42px;}
    .Oc .DataO {height:11px; font-size:8px; }
    .Oc .Otmetka { padding:4px;}
    .Koll .Otmetka {font-size:13px;}
    .Exm .Otmetka {font-size:13px;}
    .DialogFakFak .fullTextClose {width:16px; height:13px; padding-top:2px; font-size:8px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
    H2 {font-size:13px;}
    p {font-size: 13px;}
    .Exit {position: inherit}

}
