@import url("style_mobile.css");
@import url("style_desktop.css");

.nLesson{ position: relative; border: solid #e5e5e5 1px; border-bottom: none; left:0; text-align: center; background-color: #e5e5e5; font-size: 0.65em;}
input[type=text] { border-radius: 3px; margin: 2px 2px 2px 2px; border:solid #c5c5c5 1px;}
input[type=text]:hover { border-radius: 3px; margin: 2px 2px 2px 2px; border:solid #c5c5c5 1px; text-shadow: 0 1px 2px #c5c5c5;}
.button{  margin-right: 0.4em;}
.button, .attention { float: right; padding: .4em 1em; display: inline-block; position: relative; line-height: normal; cursor: pointer; vertical-align: middle; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; overflow: visible; font-family: Arial,Helvetica,sans-serif; font-size: 1em; text-decoration: none; color: #454545;  background-color: #f6f6f6; border:solid #c5c5c5 1px; border-radius: 3px;}
.button:hover, .attention:hover { float: right; color: #2b2b2b; background-color: #ededed; border: solid #cccccc 1px; border-radius: 3px;}
.colloquium_theme { background-color: #d7e8ed;}
.exam_theme { background-color: #ded09f;}
input .edit_grade { background-color: #8c0000;}
.title, .title_small { font-weight: 600; text-align: center; border: solid #000000 1px; overflow: hidden; padding-bottom: 0.05em; padding-top: 0.05em;}
.date_title, .info_title{ clear: left; position: relative; padding-bottom: 0; padding-top: 0.2em; vertical-align: middle; font-weight: 400; border: solid #000000 1px; text-align: center; font-size: 0.75em;}
.date_title, .tool, .type_lesson, .add_grade, .pointer{cursor: pointer;}
span.tool, b.tool{ padding: 1px 4px 1px 4px; border: solid 1px; border-color: transparent;  border-radius: 3px;}
.add_grade{ cursor: pointer; color: #454545; background-color: #f6f6f6; border: solid #c5c5c5 1px; border-radius: 3px;}
.add_grade:disabled{ color: #cccccc; font-weight: bolder; background-color: #ededed; border: solid #cccccc 1px; border-radius: 3px;}
.simple_cursor{ cursor: default;}
.tool:hover{ color: #0000ff; border-color: #cccccc;}
.marg-line{  margin-top: 10px; margin-bottom: 10px;}
.fail{ color: #890706; font-weight: bolder;}
.absenteeism_closed{ color: #254b72; font-weight: bolder;}
.absenteeism_closed_cell{ background-color: #BCF5A9;}
.fail_grade{ border: solid #ff0000 1px;}
#dateLast, div .hidden{  display: none;}
.illumination{ box-shadow:  0 0 0.4em #000000;}
.popup {  width: auto; position:absolute;}
.popup-content { height: auto; width: 270px; padding:4px; color: #000000; background-color: #e5e5e5; border-radius:1px; box-shadow: 0 0 10px #000; position: absolute; z-index: 10; border: solid #585858 1px;}
.header{ text-align: center;}
.undef{ background-color: #FD2121;}
.fio { float: left;}
.box { width: 95%}
.fio_student { border: solid #000000 1px; border-top: none; overflow: hidden;}
.result_box, .result_box_statistic { border-left: none; white-space: nowrap; word-wrap: normal; overflow-x: auto; position: absolute; box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.2); border-top: none;}
.result_box{ border: 1px solid #ccc; border-left: none; border-top: none;}
.date_col { position: relative; display: inline-table; margin-bottom: 1px;}
.date_col_stat, .date_col_stat_small { display: inline-table; border:none;}
.grade { font-size: 1.01em; font-weight: 600; border-bottom: solid #000000 1px; border-left: solid #000000 1px; border-right: solid #000000 1px; text-align: center; cursor: pointer; vertical-align: middle; word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap; float: left; position: relative;}

.small-text{ font-size: 0.7em;}
.triangle-topright { position: absolute; width: 0; height: 0; bottom:0; float: left; display: inline-table;}
.close { position: absolute; top: 1px; right: 1px; width: 10px; height: 10px; float: right; display: inline-table;}
.tr { position: absolute; bottom: 0; right: 0; width: 10px; height: 10px; float: right; display: inline-table;}
.container{ white-space: nowrap; word-wrap: normal; float: left; width: auto; overflow: visible;}
.statistic { position: absolute; border: none; cursor: default;}
.result_div{ color: #000; background-color: #d3d3d3; font-size: 1.4em;}
.result_div_small{ color: #000; background-color: #d3d3d3; font-weight: bolder;}
.avg, .ans, .abs { border-bottom: solid #000000 1px; text-align: center; vertical-align: middle; word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap; float: left; position: relative;}
.average, .answer, .absenteeism { border-left: solid #000000 1px; border-right: solid #000000 1px; border-top: none; text-align: center; vertical-align: middle; float: left; display: inline-table;}
.avg_small { border-bottom: solid #000000 1px; text-align: center; vertical-align: middle; word-wrap: break-word; white-space: -moz-pre-wrap; white-space: pre-wrap; float: left; position: relative;}
.average_small{ border-left: solid #000000 1px; border-right: solid #000000 1px; border-top: none; text-align: center; vertical-align: middle; float: left; display: inline-table;}
.kursiv{ font-size: 9pt;}
b#delGr{ font-size: 1.5em;}
input#number_theme, input#edit_number_theme{ width: 30px;}
div.number_theme{ padding-left: 5px; position: absolute; top: 15px; margin-left: 140px;}

.export{ margin-top:30px; margin-left:10px; display:table;}
.export img { border:0; vertical-align: middle; margin-right:10px;}
.sh{ box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.2); transition: 1.0s;}